body {
  background-color: black;
  color: white;
}
.container {
  margin-left: 50px;
}

header {
  height: 100px;
}

.logo {
  height: 100px;
}

.category {
  margin: 30px 0 20px 0;
  font-size: 20px;
}

.list-movie {
  display: flex;
  width: 100%;
  height: 124px;
  overflow: hidden;
  overflow-x: scroll;
}

.list-movie img {
  width: 220px;
}
